<html>
<head>
  <script type="module">
    import { store } from "/components/file-browser/file-browser-store.js";
  </script>
</head>
<body>
  <div x-data>
    <template x-if="$store.fileBrowser">
      <div id="fileBrowserModal" x-data>
        <template x-teleport="body">
          <div x-show="$store.fileBrowser.isOpen" class="modal-overlay" @click.self="$store.fileBrowser.handleClose()"
               @keydown.escape.window="$store.fileBrowser.handleClose()" x-transition>
            <div class="modal-container">
              <div class="modal-header">
                <h2 class="modal-title" x-text="$store.fileBrowser.browser.title"></h2>
                <button class="modal-close" @click="$store.fileBrowser.handleClose()">&times;</button>
              </div>
              <div class="modal-content">
                <div x-show="$store.fileBrowser.isLoading" class="loading-spinner">Loading...</div>
                <div x-show="!$store.fileBrowser.isLoading">
                  <div class="path-navigator">
                    <button class="text-button back-button" @click="$store.fileBrowser.navigateUp()" aria-label="Navigate Up">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.5 15">
                        <path d="m.75,5.25L5.25.75m0,0l4.5,4.5M5.25.75v13.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                      </svg>
                      Up
                    </button>
                    <div id="current-path">
                      <span id="path-text" x-text="$store.fileBrowser.browser.currentPath"></span>
                    </div>
                  </div>

                  <div class="files-list">
                    <div class="file-header">
                      <div class="file-cell" @click="$store.fileBrowser.toggleSort('name')">
                        Name
                        <span x-show="$store.fileBrowser.browser.sortBy === 'name'"
                              x-text="$store.fileBrowser.browser.sortDirection === 'asc' ? '↑' : '↓'"></span>
                      </div>
                      <div class="file-cell-size" @click="$store.fileBrowser.toggleSort('size')">
                        Size
                        <span x-show="$store.fileBrowser.browser.sortBy === 'size'"
                              x-text="$store.fileBrowser.browser.sortDirection === 'asc' ? '↑' : '↓'"></span>
                      </div>
                      <div class="file-cell-date" @click="$store.fileBrowser.toggleSort('date')">
                        Modified
                        <span x-show="$store.fileBrowser.browser.sortBy === 'date'"
                              x-text="$store.fileBrowser.browser.sortDirection === 'asc' ? '↑' : '↓'"></span>
                      </div>
                    </div>

                    <template x-if="$store.fileBrowser.browser.entries.length">
                      <template x-for="file in $store.fileBrowser.sortFiles($store.fileBrowser.browser.entries)" :key="file.path">
                        <div class="file-item" :data-is-dir="file.is_dir">
                          <div class="file-name" @click="file.is_dir ? $store.fileBrowser.navigateToFolder(file.path) : $store.fileBrowser.downloadFile(file)">
                            <img :src="'/public/' + (file.type === 'unknown' ? 'file' : ($store.fileBrowser.isArchive(file.name) ? 'archive' : file.type)) + '.svg'" class="file-icon" :alt="file.type">
                            <span x-text="file.name"></span>
                          </div>
                          <div class="file-size" x-text="$store.fileBrowser.formatFileSize(file.size)"></div>
                          <div class="file-date" x-text="$store.fileBrowser.formatDate(file.modified)"></div>
                          <div class="file-actions">
                            <button class="action-button download-button" @click.stop="$store.fileBrowser.downloadFile(file)">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5">
                                <path d="m.75,14.25v2.25c0,1.24,1.01,2.25,2.25,2.25h13.5c1.24,0,2.25-1.01,2.25-2.25v-2.25m-4.5-4.5l-4.5,4.5m0,0l-4.5-4.5m4.5,4.5V.75" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                              </svg>
                            </button>
                            <button class="delete-button" @click.stop="$store.fileBrowser.deleteFile(file)">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.03 22.53" fill="currentColor">
                                <path d="m14.55,7.82H4.68L14.09,3.19c.83-.41,1.17-1.42.77-2.25-.41-.83-1.42-1.17-2.25-.77l-3.16,1.55-.15-.31c-.22-.44-.59-.76-1.05-.92-.46-.16-.96-.13-1.39.09l-2.08,1.02c-.9.44-1.28,1.54-.83,2.44l.15.31-3.16,1.55c-.83.41-1.17,1.42-.77,2.25.29.59.89.94,1.51.94.25,0,.5-.06.74-.17l.38-.19s.09.03.14.03h11.14v11.43c0,.76-.62,1.38-1.38,1.38h-.46v-11.28c0-.26-.21-.47-.47-.47s-.47.21-.47.47v11.28h-2.39v-11.28c0-.26-.21-.47-.47-.47s-.47.21-.47.47v11.28h-2.39v-11.28c0-.26-.21-.47-.47-.47s-.47.21-.47.47v11.28h-.46c-.76,0-1.38-.62-1.38-1.38v-9.9c0-.26-.21-.47-.47-.47s-.47.21-.47.47v9.9c0,1.28,1.04,2.32,2.32,2.32h8.55c1.28,0,2.32-1.04,2.32-2.32v-11.91c0-.26-.21-.47-.47-.47Z" stroke-width="0"></path>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </template>
                    </template>

                    <template x-if="!$store.fileBrowser.browser.entries.length">
                      <div class="no-files">No files found</div>
                    </template>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div id="buttons-container">
                  <label class="btn btn-upload">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"></path>
                    </svg>
                    Upload Files
                    <input type="file" multiple accept="all" @change="$store.fileBrowser.handleFileUpload($event)" style="display: none;">
                  </label>
                  <button class="btn btn-cancel" @click="$store.fileBrowser.handleClose()">Close Browser</button>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </template>
  </div>

  <script>
    document.addEventListener('alpine:init', () => {
      const s = Alpine.store('fileBrowser');
      if (s && typeof s.init === 'function') s.init();
    });
  </script>

  <style>
    /* Component-local styles (lift-and-shift kept global via css/file_browser.css). */
  </style>
</body>
</html>


